// ==================================================
// global section
// ==================================================
.global{
	display:block;
	position:relative;
	width:100%;
	background:#ffffff;

	.main{
		display:block;
		position:relative;
		font-size:0;
	}
}
// ==================================================
// left-aside section
// ==================================================
.path{
	display:block;
	position:relative;
	box-sizing:border-box;
	width: 65.89583%;
	margin:auto;
	ul{
		position:relative;
		li{
			display:inline-block;
			vertical-align:top;
			font-family:arial;
			a{
				@include rem('font-size',16px);
				color:#a6a6a6;
				&:after{
					content:('/');
					padding: 0 9px;
				}
			}
		}		
	}	
}
// ==================================================
// left-aside section
// ==================================================
.container{
	padding-top:38px;
}
.left-aside{
	display:inline-block;
	width:calc-percent(320px,1920px);
	vertical-align:top;
	ul{
		float:right;
		padding-right:26px;
		li{
			font-size:14px;
			color:#acacac;
			font-family: 'aileronregular';
			line-height:16px;
		}
	}
	
}
// ==================================================
// center-block section
// ==================================================
.center-block{
	display:inline-block;
	width:calc-percent(866px,1920px);
	position:relative;
	vertical-align:top;
	h2{
		@include rem('font-size',30px);
		color:#000000;
		text-transform:uppercase;
		padding-bottom:12px;
		background: url("../img/border.png") no-repeat left bottom;
		display:block;
    	font-family: 'montserratbold';
	}
	.wrapper{
		padding-top:46px;
		font-size:0px;
		.Visuel{
			display:inline-block;
			width:calc-percent(293px,866px);
			width:293px;
			height:293px;
			vertical-align:top;
			background:url("../img/societeGeneral.png")no-repeat;
		}
		.info{
			display:inline-block;
			width:calc-percent(530px,866px);
			min-height:293px;
			vertical-align:top;
			background:#f8f9fa;
			margin-left:39px;
			ul{
				padding-left:55px;
				padding-top:24px;
				box-sizing:border-box;
				li{
					font-family:arial;
					@include rem('font-size',17px);
					color:#60696e;
					position:relative;
					padding-bottom:28px;
					span{
						font-family:arial;
						font-weight:bold;
					}
					.unique{
						padding-left:70px;
					}
					&:before{
						content: "";
						position: absolute;
						width: 19px;
						height: 23px;
						left: -33px;
    					top: -3px;
						background:url("../img/recruteur.png")no-repeat;
					}
					&:nth-child(2){
						&:before{
							background:url("../img/calender.png")no-repeat;
							width: 24px;
							height: 21px;
						}
					}
					&:nth-child(3){
						&:before{
							background:url("../img/calender-2.png")no-repeat;
							width: 23px;
							height: 23px;
						}
						.unique{
							padding-left:65px;
						}
					}
					&:nth-child(4){
						&:before{
							background:url("../img/localisation.png")no-repeat;
							width: 16px;
							height: 23px;
							left:-30px;
						}
						.unique{
							padding-left:58px;
						}
					}
					&:nth-child(5){
						&:before{
							background:url("../img/person.png")no-repeat;
							width: 22px;
							height: 22px;
							left:-33px;
						}
						.unique{
							padding-left:11px;
						}
					}
					&:nth-child(6){
						&:before{
							background:url("../img/scoop.png")no-repeat;
							width: 31px;
							height: 17px;
							left: -38px;
						}
						.unique{
							padding-left:20px;
						}
					}
				}
			}
		}
	}
	.wording{
		display:block;
		width:100%;
		padding-top:60px;
		h3{
			@include rem('font-size',17px);
			color:#000000;
			padding-bottom:20px;
			font-family:arial;
			font-weight:800;
		}
		li{
			color:#60696e;
			@include rem('font-size',16px);
			line-height:25px;
			position:relative;
			padding-left:19px;
			font-family: arial;
			&:before{
				content:('');
				position:absolute;
				width:6px;
				height:7px;
				background:url("../img/dots.png")no-repeat;
				left:0px;
				top:8px;
			}
		}
		.second-item{
			padding-top:54px;
		}
		p{
			color:#60696e;
			@include rem('font-size',16px);
			line-height:17px;
			font-family: arial;
			line-height:24px;
		}
		.first-phrase{
			padding-bottom:32px;
		}
		.second-phrase{
			padding-bottom:48px;
		}
		.note{
			padding-bottom:90px;
		}
	}
	.divider{
		width:100%;
		height:1px;
		background:url("../img/divider.png")no-repeat;
	}
}
.pagination{
	width:100%;
	padding-top:69px;
	padding-bottom:196px;
	ul{
		font-size:0;
		li{
			@include rem('font-size',14px);
			a{
				display:inline-block;
				text-transform:uppercase;
			}
		}
		.Precedent,
		.suivant{
			color:#989898;
			height:41px;
			line-height:41px;
			background:#f2f2f2;
			text-align:center;
			width:116px;
		}
		.Precedent,
		.num{
			float:left;
		}
		.suivant{
			float:right !important;
		}
		.num{
			li{
				display:inline-block;
				vertical-align:top;
			}
		}
	}
}

// ==================================================
// top-nav section
// ==================================================
.top-nav{
	width:100%;
	background:#363636;
	min-height:40px;
	
	.insider{
		width:calc-percent(1282px,1920px);
		margin:auto;
		.left-item{
			display:inline-block;
			vertical-align:top;
			width:352px;
			min-height:40px;
			p{
				@include rem('font-size',14px);
				color:#a6a6a6;
				font-family: 'aileronregular';
				padding-top:13px;
			}
			a{
				@include rem('font-size',14px);
				color:#52bde8;
				font-family: 'aileronbold';
			}
		}
		.right-item{
			display:inline-block;
			vertical-align:top;
			width:442px;
			min-height:40px;
			float:right;
			ul{
				font-size:0px;
				padding-top:13px;
				li{
					display:inline-block;
					vertical-align:top;
					font-family: 'aileronregular';
					a{
						@include rem('font-size',14px);
						color:#a7a7a7;
						padding-right:35px;
					}
					.last{
						padding-right:0px;
					}
				}
				.fb,
				.twiter,
				.rose,
				.linkdin{
					margin-top:-5px;
					a{
						padding-right:6px;	
					}
				}
			}
		}
	}
}

// ==================================================
// offre-emploi section
// ==================================================
.offre-emploi{
	position:relative;
	display:block;
	width:100%;
	background:url("../img/oe-bg.png")no-repeat;
	min-height:170px;
	padding-bottom:49px;
	p{
		text-align:center;
		@include rem('font-size',35px);
		color:#ffffff;
		line-height:170px;
    	font-family: 'aileronbold';
	}
}


.logoContainer{
	width:calc-percent(1282px,1920px);
	margin:auto;
	padding-top:21px;
	.logo{
		display:inline-block;
		vertical-align:top;
		position:relative;
		padding-right:25px;
		a{
			display:block;
		}
	}
	.pub{
		display:inline-block;
		vertical-align:top;
		position:relative;
	}
}

// ==================================================
// Menu section
// ==================================================
.Menu{
		display:block;
		position:relative;
		box-sizing:border-box;
		font-size:0px;
		width:calc-percent(1282px,1920px);
		margin:auto;
		padding:44px 0 20px;
		ul{
			font-size:0;
			display:inline-block;
			vertical-align:middle;
			width:calc-percent(810px,1282px);
			width:810px;
		}
		li{
			display:inline-block;
			vertical-align:middle;
			padding-right:25px;
			font-size:0px;
			a{
				color:#000000;
				@include rem('font-size',18px);
				position:relative;
    			font-family: 'aileronbold';

				&:hover{
					color:#52bde8;
					opacity:0.7;
					transition:all 0.5s ease-in-out;
				}
				&:before{
					content: "";
					position: absolute;
					width: 100%;
					height: 8px;
					bottom: -36px;
					left: 0;
					background-color: #52bde8;
					visibility: hidden;
					-webkit-transform: scaleX(0);
					transform: scaleX(0);
					-webkit-transition: all 0.3s ease-in-out 0s;
					transition: all 0.3s ease-in-out 0s;
				}
				&:hover:before{
					visibility: visible;
					-webkit-transform: scaleX(1);
					transform: scaleX(1);
				}
			}
		}
		.last{
			padding-right:0px;
		}

		.inscri-cnx{
			display:inline-block;
			vertical-align:middle;
			padding-left:calc-percent(120px,1282px);
			.inscription{
				display:inline-block;
				vertical-align:middle;
				width:169px;
				font-family: 'aileronbold';
				font-size:16px;
				height:50px;
				color:#52bde8;
				border:solid 1px #52bde8;
				line-height:50px;
				border-radius:5px;
				text-align:center;
				position:relative;
				margin-right:10px;
				&:before{
					content: "";
					position: absolute;
					width: 20px;
					height: 20px;
					left:20px;
					top:14px;
					background:url("../img/user.png")no-repeat;

				}
			}
			.Connexion{
				display:inline-block;
				vertical-align:middle;
				width:169px;
				font-family: 'aileronbold';
				font-size:16px;
				height:50px;
				color:#b3ca31;
				border:solid 1px #b3ca31;
				line-height:50px;
				border-radius:5px;
				text-align:center;
				position:relative;
				&:before{
					content: "";
					position: absolute;
					width: 18px;
					height: 20px;
					left:20px;
					top:14px;
					background:url("../img/cnx.png")no-repeat;

				}
			}
		}
	}